<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sensors</title><meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'welcome/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'sensors/style.css' %}"/>

    <style>
    .fakeimg {
      height: 200px;
      background: #aaa;
    }
    </style>
</head>
<body>
    <!-- Menu Header -->
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">Stargate</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" href="/sensors">Sensors</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/telescope">Telescope</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Main Section -->
    <div class="container p-3 my-5 bg-black text-white bg-dark">
        <h2>Pmod NAV Sensor Data</h2>
        <p> </p>
        <div class="row mb-3">
            <div class="col">
                <div id="nav-data-live"><pre class="sensor-table">
X axis (deg):	–
Y axis (deg):	-
Z axis (deg):	-

COMPASS:
Direction:      -
            </pre></div>
            </div>
            <div class="col-md-auto themed-grid-col align-self-center py-3 px-lg-5">
                <button type="button" onclick="storeNavData()" class="btn btn-light">Save</button>
            </div>
            <div class="col" >
                <div id="nav-data-stored"><pre class="sensor-table">
X axis (deg):	–
Y axis (deg):	-
Z axis (deg):	-

COMPASS:
Direction:      -
            </pre></div>
            </div>
        </div>
        </div>
        <div class="container p-3 my-5 bg-black text-white bg-dark">
        <h2>Pmod GPS Sensor Data</h2>
        <p> </p>
        <div class="row mb-3">
            <div class="col">
                <div id="gps-data-live"><pre class="sensor-table">
Mode:		-
Satellites:	-
Latitude:	-
Longitude:	-
Track:	        -
Time:	        -
            </pre></div>
            </div>
            <div class="col-md-auto themed-grid-col align-self-center py-3 px-lg-5">
                <button type="button" onclick="storeGPSData()" class="btn btn-light">Save</button>
            </div>
            <div class="col" >
                <div id="gps-data-stored"><pre class="sensor-table">
Mode:		-
Satellites:	-
Latitude:	-
Longitude:	-
Track:	        -
Time:	        -
            </pre></div>
            </div>
        </div>

    </div>
</div>

<!-- Footer -->
<div class="footer-copyright text-center bg-dark py-3 small" style="margin:0px;padding:1px">
    <p>Ⓒ 2020 Copyright: FH Joanneum Graz</p>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/reconnecting-websocket/1.0.0/reconnecting-websocket.js"></script>

<script>
// websocket scripts
var navDataLiveContainer = $("#nav-data-live")      // get element with ID nav-data-live
var navDataStoredContainer = $("#nav-data-stored")
var navData = null

var gpsDataLiveContainer = $("#gps-data-live")
var gpsDataStoredContainer = $("#gps-data-stored")
var gpsData = null

var endpoint = 'ws://' + window.location.host + window.location.pathname
var socket = new ReconnectingWebSocket(endpoint)

function refreshSensorData(){
    socket.send('refreshSensorData')
}

function storeNavData(){
    socket.send('{"command": "storeNavData", "nav":' + JSON.stringify(navData) + '}')
    navDataStoredContainer.html(formatNavData(navData))
}

function storeGPSData(){
    socket.send('{"command": "storeGPSData", "gps":' + JSON.stringify(gpsData) + '}')
    gpsDataStoredContainer.html(formatGPSData(gpsData))
}

function formatNavData(data){
    return "<pre class=\"sensor-table\">\nX axis (deg):\t" + data.acc_xAngle
        + "\nY axis (deg):\t" + data.acc_yAngle
        + "\nZ axis (deg):\t" + data.acc_zAngle
        + "\n\nCOMPASS\nDirection:\t" + data.direction
        + "</pre>"
}

function formatGPSData(data){
    return "<pre class=\"sensor-table\">\nMode:\t\t" + data.mode
        + "\nSatellites:\t" + data.sats
        + "\nLatitude:\t" + data.lat
        + "\nLongitude:\t" + data.lon
        + "\nTrack:\t\t" + data.track
        + "\nTime:\t\t" + data.time
        + "</pre>"
}

// receive messages from consumers.py and from sensor-data channel (loop.py)
socket.onmessage = function(e){
    console.log("message", e)
    var data = JSON.parse(e.data)
    if (data.command == "refreshSensorData") {
        navData = data.nav
        navDataLiveContainer.html(formatNavData(navData))
        gpsData = data.gps
        gpsDataLiveContainer.html(formatGPSData(gpsData))
    }
}
socket.onopen = function(e){
    console.log("open", e)
    //refreshSensorData()
}
socket.onerror = function(e){
    console.log("error", e)
}
socket.onclose = function(e){
    console.log("close", e)
}
</script>

</body>
</html>