
<link rel="icon" href="../../favicon.ico">


<link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/cover/">

<!-- Bootstrap core CSS -->
<link type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom styles for this template -->
{% load static %}
<link type="text/css" href="{% static 'welcome/welcome.css' %}" rel="stylesheet">

<!-- doesn't work: -->
<!--<link type="text/css" href="{% static '/static/welcome.css' %}" rel="stylesheet">-->